a {
  text-decoration: none;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

article {
text-align: left;
}

body {
  background-color: #E4DCCF;
  max-width: 900px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
}

footer {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 50px;
}

h2 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

hr  {
  border-style: none;
  border-top-style: solid;
  border-width: 1px;
  width: 100%;
}

html {
  background-color: #576F72;
}

li {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
   list-style-position: inside;
}

p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.csc {
  float: left;
  width: 50%
}

.cscdesc {
  float: right;
  width: 50%;
}

.nylrep {
  float: left;
  width: 50%;
}
.nylrepdesc {
  float:right;
  width: 50%;
}

.target {
  float: left;
  width: 50%
}

.targetdesc{
  float: right;
  width: 50%;
}

.gladheart {
  float: left;
  width: 50%;
}

.gladheartdesc {
  float: right;
  width: 50%
}

.copyright {
  font-family: 'Lato', sans-serif;

  padding: 20px 0;
}

.footer-link {
  margin: auto 10px auto;
  font-weight: bold;
  font-family: 'Lato' sans-serif;
}

.nameplate {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  float: left;
  width: 50%;
}

.portrait {
  float:right;
  border-radius:25%;
  width: 50%;
}

.summary {
  font-weight: bold;
}
